extends ../layout

block content


    .col-md-12
    h1= title
    a.btn.btn-primary(href='./create/'  ) Nouvel article




    each article,i in data



        .row

            .col-md-12

                h2 Numero d'article #{1+i}
            .col-md-4
                p
                    | Id: #{article._id}

            .col-md-4
                p
                    | Titre : #{article.title}


            .col-md-4
                p
                    |  Activation : #{article.activated}



            .col-md-6
                p
                    |  Date de création: #{article.createdOn}



            .col-md-6
                p
                    | Date de mis à jour : #{article.changeOn}



            .col-md-6
                p
                    |  Dans la catégorie: #{article.category.title}
            .col-md-8
            br
            a.btn.btn-primary(href='./read/'+article._id ) Voir l'article
