extends ../layout

block content
    h1= title
    p Welcome to #{title}

    ul
        each article in articles

            p id: #{article._id}
                p title: #{article.title}
                    p actived: #{article.activated}
                        p content: #{article.contents}
                            p created on: #{article.createdOn}
                                p changed on : #{article.changeOn}
                                    p in category: #{article.category}
                                    br
                                    br