extends ../layout

block content
    h1= title
    p Welcome to #{title}

    ul


        a(class='button', href='./create/'  ) Nouvel article








        each article in data
            p
                | id: #{article._id}
            p
            | title: #{article.title}
            p
            |  actived: #{article.createdBy}
            p
            |  created on: #{article.createdOn}
            p
            | changed on : #{article.changeOn}
            p
            |  in category on : #{article.category.title}

            br
            a(class='button', href='./read/'+article._id ) Voir l'article
            br
            br
