extends ../layout

block offline 
block content
    h1= title
    br





    .row


        .col-md-4
            p
                | title: #{datatoread.title}



        .col-md-4
            p
                | actived: #{datatoread.activated}


        .col-md-4
            P
                | in category on : #{datatoread.category.title}



        .col-md-4
            P
                | created by: #{datatoread.createdBy}



        .col-md-4
            p
                | changed on : #{datatoread.changeOn}


        .col-md-4
            p
                | created on: #{datatoread.createdOn}


        .col-md-12
            p
                | content: #{datatoread.contents}
                br




        .col-md-3

            a.btn.btn-primary(href='../update/' + datatoread._id ) Update

        .col-md-3
            a.btn.btn-primary(href='../delete/' + datatoread._id ) Désactiver  l'article


        .col-md-3
            form.formr(method="POST" action="../reactive/" + datatoread._id + "?_method=POST")
                button.btn.btn-primary(type="submit") Activer  l'article



        .col-md-3
            a.btn.btn-primary(href='/articles/') Retour à la liste complet
