extends ../layout

block content
    h1= title





    .row


        .col-md-9

            a.btn.btn-primary(href='/users/article/' + datatoread[0]._id ) Ajouter un commantaire

        .col-md-3
            a.btn.btn-primary(href='/articles/') Retour à la liste completR


        .col-md-4
            p
                | Title: #{datatoread[0].title}



        .col-md-4
            p
                | Actived: #{datatoread[0].activated}





        .col-md-4
            P
                | Created by: #{datatoread[0].createdBy}



        .col-md-4
            p
                | Changed on : #{datatoread[0].changeOn}


        .col-md-4
            p
                | Created on: #{datatoread[0].createdOn}

        .col-md-12
            p
                | Content: #{datatoread[0].contents}
                br




        each p,i in datatoread[0].comments

            .col-md-12
                h3 Commentaire numéro #{i+1}
                .col-md-6
                    p
                        | Content: #{p.content}
                .col-md-6
                    p
                        | Ecrit par : #{p.createdBy}



        .col-md-4

            a.btn.btn-primary(href='../update/' + datatoread[0]._id ) Update

        .col-md-4
            a.btn.btn-primary(href='../delete/' + datatoread[0]._id ) Désactiver  l'article


        .col-md-4
            form.formr(method="POST" action="../reactive/" + datatoread[0]._id + "?_method=POST")
                button.btn.btn-primary(type="submit") Activer  l'article








