extends ../layout
block content
    h1 Profil





    .row


        form(method="GET" action="/users/logout")
            button.btn.btn-primary Se déconnecter

        .col-md-2
            p Pseudo : #{pseudo}
        .col-md-2
            p Nom : #{nom}
        .col-md-2
            p Préson : #{prenom}
        .col-md-2
            p E-mail : #{email}
        .col-md-2
            p Adresse :  #{adresse}



