extends ../../layout
block content
    h1= title
    p Welcome to #{title}


    pre=data

    each articl in data.article

       p
           | title: #{articl.title}
           br
       p
           | actived: #{articl.activated}
           br


