extends ../layout

block content


    .col-md-12
        h1= title
        a.btn.btn-primary(href='./create/'  ) Nouvelle Thématique








    each categorie,i in data


        .row

            .col-md-12

                h2 Numero de la thématique #{1 + i}

            .col-md-3

                p
                | Title: #{categorie.title}

            .col-md-3
                p
                | Changed on : #{categorie.changeOn}

            .col-md-3
                p
                | Nombre d'article(s) : #{categorie.articles.length}


            .col-md-3
                a.btn.btn-primary(href='./read/' + categorie._id ) Voir les détails de la categorie









