extends ../layout

block content
    h1= title
    p Welcome to #{title}

        each category in categories
            p id: #{category._id}
                    p title: #{category.title}
                            p actived: #{category.activated}
                                    p article dispo: #{category.articles}

                                        br
                                        br





