extends ../layout

block content
    h1= title
    p Welcome to #{title}

    ul
        each category in categories
            br
            li= category.title
            li= category.article
            li= category.activated
            li= category._id



