extends ../layout

block content
    h1= title


    h2 Propriétes de la catégorie



    .row



        .col-md-3
            p
                | Title: #{cat.title}
        .col-md-3
            p
                |  Actived: #{cat.activated}
        .col-md-3
            p
                |  Created on: #{cat.createdOn}
        .col-md-3
            p
                | Changed on : #{cat.changeOn}





        .col-lg-3
            a.btn.btn-primary(class='button', href='../update/' + cat._id ) Modifier la catégorie


        .col-lg-3
            form(method="POST" action="../reactive/" + cat._id + "?_method=POST")
                button.btn.btn-primary(type="submit") Activer  la catégorie


        .col-lg-3
            a.btn.btn-primary(class='button', href='../delete/' + cat._id ) Désactiver  la catégorie

        .col-lg-3
            a.btn.btn-primary(class='button', href='../'  ) Retour a la liste des catégories














    h2 Propriétes  des articles

    .row

        .col-md-12
            a.btn.btn-primary(href='../../../articles/create/'  ) Nouvel article



        each article,i in cat.articles

            .col-md-12

                h2 Numero d'article #{1 + i}

            .col-md-3
                p
                    | title: #{article.title}
            .col-md-3
                p
                    |  actived: #{article.activated}
            .col-md-3
                p
                    |  created on: #{article.createdOn}
            .col-md-3
                p
                    | changed on : #{article.changeOn}

            .col-md-6

                a.btn.btn-primary(href='/articles/read/' + article._id ) Voir l'article








